<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="../contest/static/css/header.css" rel="stylesheet"/>

    <title>页头</title>

</head>
<body>
    <div class="header">
        <span class="my_pic"><img src="../contest/static/img/1808.jpg" class = "my_img"></span>
        <div class="home_link" align="center" mark="{{ mark }}">
            <a href="#" class="question_bank">题库</a>
            <a href="#" class="test_paper">试卷</a>
            <a href="#" class="examination">考试</a>
        </div>
    </div>

</body>
</html>