<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../contest/static/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css"/>
    <script src="../contest/static/bootstrap/js/bootstrap/3.3.6/bootstrap.js"></script>
    <script src="../contest/static/js/jquery.min.js"></script>

    <link href="../contest/static/css/question.css" rel="stylesheet"/>
</head>
<body>
    <div class="bread">
        <ol class="breadcrumb">
            <li><a href="#">题库</a></li>
            <li><a href="#">公共题库</a></li>
            <li class="active">题目名称</li>
        </ol>
    </div>

    <div>
        
    </div>
</body>
</html>